<app-toolbar [title]="'100 Angular Challenges'">
  <ul>
    <li>Component</li>
    <li>Pipe</li>
    <li>Service</li>
    <li>Guard</li>
  </ul>
</app-toolbar>

<app-accordion [classes]="'fa fa-info-circle'" [title]="'Accordion'" [items]="items"></app-accordion>

<app-progressbar [value]="progressValue">
  <button (click)="progressValue=progressValue+10">UPDATE</button>
</app-progressbar>

<app-star-ratings [rating]="ratingVal">
  <input type="number" [(ngModel)]="ratingVal" name="ratingVal" step="0.5" min="0" max="5" value="0">
</app-star-ratings>
<app-card [iconClasses]="'fa fa-info-circle'" [title]="'Card'" [subtitle]="'subTitle'">
  <p body>Body Content</p>
  <p footer>Footer Content</p>
</app-card>
<app-scroll-to-top></app-scroll-to-top>
<router-outlet></router-outlet>