<div class="container">
    <div class="head">
        <i [class]="classes" *ngIf="classes"></i>
        <div class="title">
            <h3>{{title}}</h3>
        </div>
    </div>
</div>
<div class="accordion-container">
    <div class="item" *ngFor="let item of items">
        <div class="head">
            <h4>{{item.title}}</h4>
            <i class="fa fa-chevron-down" [class.is-expanded]="item.isExpanded" (click)="toggle(item)"></i>
        </div>
        <div class="content" *ngIf="item.isExpanded">
            <p>{{item.content}}</p>
        </div>
    </div>
</div>