button {
    position: fixed;
    bottom: 3%;
    right: 3%;
    border-radius: 50%;
    transition: all 0.3s;
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.isShown {
    visibility: visible;
    height: 50px;
    width: 50px;
}